{% extends 'base.html' %}
{% block title %}Parts of Speech{% endblock %}

{% block content %}
    <h1>Really there are no wrong answers... (but some answers are definitely better than others)</h1>
    <form action="/story">
        {% for prompt in prompts %}
        <label for="{{prompt}}_{{loop.index}}">{{prompt}}:</label>
        <input type="text" placeholder="" id="{{prompt}}_{{loop.index}}" name="{{prompt}}">
        <br>
        {% endfor %}
        <input type="hidden" name='story' value='{{story.story_id}}'>
        <button type="submit">Submit</button>
    </form>
{% endblock %}